* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: RedHatText;
  src: url(../../public/fonts/RedHatText-VariableFont_wght.ttf);
}

body {
  font-family: RedHatText;
  font-size: 15px;
}
